/* make sure items inside containers dont go over 300px width */
/* make sure to give unique classNames to elements to avoid 
  issues with already reserved class names for Bootsrap  */

.date-message {
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 20px;
  margin-top: 20px;
}

.search-container {
  /* border: solid blue 5px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
}


.search-bar {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  height: 41px;
  width: 267px;
}

@media screen and (min-width: 600px) {
  .search-bar {
    width: 400px;
  }
}

.word-container {
  /* border: solid red 5px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-box {
  border: solid rgb(36, 95, 255) 5px;
  justify-content: center;
  border-radius: 10px;
  width: 300px;
  
}

@media screen and (min-width: 600px) {
  .info-box {
    width: 450px;
  }
}

.title-container {
  margin-top: 30px;
  /* border: solid black 1px; */
  text-align: center;
}

#title {
  font-size: 20px ;
}

.data-container {
  margin-top: 30px;
  /* border: solid blue 1px; */
  color: blue;
  text-align: center;
  font-size: 50px;
}

#view-all-button {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 140px;
  border-radius: 5px;
  background-color: rgb(36, 95, 255);
  color: white;
  border: none;
}

.block-containers {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px; 
}

.blocks {
  border: solid;
  width: 84px;
  height: 50px;
  margin: 5px;
  border-radius: 5px;
  background-color: rgb(36, 95, 255);
  color: white;
}